extends layout

block content
  h1= title 
  a(href="/")= "Back to messages"
  form(method="POST" action="/new") 
    label(for="messageUser")= "Name:"
    input(class="input input-text" type="text" name="messageUser" placeholder="J. Jonah Jameson")
    label(for="messageText")= "Messsage:"
    textarea(class="input input-textarea" type="text" name='messageText' placeholder="That darned spider!")
    input(class="submit" type="submit")
